<% unless flash.empty? %>
  <%= render "shared/error_banner" do %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key} d-inline" %>
    <% end %>
  <% end %>
<% end %>

<div class="background landing-section">
  <div class="d-flex align-items-center" style="height: 100%;">
    <div class="container text-center">
      <h1 id="main-text" class="font-weight-400 responsive-header">Welcome to Greenlight.</h1>
      <h4 class="text-muted">A simple front end for your BigBlueButton Open Source Web Conferencing Server.</h4>

      <%= link_to "https://youtu.be/Hso8yLzkqj8", class: "p-3", target: "_blank" do %>
        <h4>Watch a tutorial on using Greenlight <i class="far fa-play-circle"></i></h4>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/features" %>
