<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="custom_img" style="padding-bottom: 2rem;">
          <img src="https://uaw-mm.de/images/logo_uaw.gif" alt="">
        </div>
        <h1 class="display-4"> Willkommen im Videokonferenzsystem der UAW</h1>
        <h2 id="flavor-text" class="flavor-test">Bitte melden Sie sich mit Ihrem Kürzel und Kennwort an</h2>
        <h4 style="color:#ff0000" id="flavor-text" class="flavor-test">Dieser Dienst ist momentan nur zur internen Nutzung freigegeben</h4>
      </div>
    </div>
  </div>
</div>

<%= render "main/components/features" %>
