<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4"> <%= t("landing.welcome").html_safe %></h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 "><%= t("landing.about", href: link_to(t("shule"), "https://github.com/Oasis256/Shule", target: "_blank", rel: "noopener")).html_safe %></p>

      </div>

    </div>
  </div>
</div>

<%= render "main/components/features" %>
