<div class="landing-section">
  <div class="d-flex align-items-center" style="height: 100%;">
    <div class="container text-center">
      <h1 id="main-text" class="font-weight-400 resp-header">Welcome to BigBlueButton.</h1>
      <h4 class="text-muted">A simple front end for your BigBlueButton Open Source Web Conferencing Server.</h4>

      <%= link_to "https://www.youtube.com/watch?v=yGX3JCv7OVM&feature=youtu.be", class: "p-3", target: "_blank" do %>
        <h4>Watch a tutorial on using Greenlight <i class="fe fe-play-circle"></i></h4>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/features" %>
