<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background" style="background-image: url(https://letsstudy.dk/wp-content/uploads/2019/05/main-e1556722233165.png); background-repeat: no-repeat; background-attachment: scroll; background-size: cover; padding-top: 30px; padding-bottom: 75px;">
  <div class="container pt-9 pb-8" style="padding-bottom: 7rem !important; padding-top: 9rem !important;">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4" style="color: #fff;">PERSONLIG ONLINE LEKTIEHJÆLP</h1>
      </div>
    </div>
  </div>
</div>

<div class="container mt-8 mb-6 text-center">

  <h2 class="mb-6">Start din lektiehjælp nu</h2>

  <div class="row feature-stamp">
    <div class="col-lg-12">
      <h3>Login i toppen af siden</h3>

      <p>
        Når du er logget ind, opretter du et nyt møderum til din lektiehjælp session, derefter vil du se et invitations URL, send denne til eleven så snart klikker på linket vil de automatisk deltage i din session.
      </p>
    </div>
    
    <div class="col-lg-12">
      <h3>Opret login</h3>

      <p>
        Har du ikke allerede et login, så opret et login i toppen af siden. Indtast dit navn, email og din ønskede kode.
      </p>

      <p>
        Du er nu klar til, at starte din første lektiehjælp.
      </p>
    </div>
  </div>
</div>
