<div class="container">
	<h1 class="display-3 text-center text-primary">Teach Students Online</h1>
	<hr class="small-rule">

  <%= render "shared/start_meeting" %>

  <br>

  <%= render "shared/features" %>
</div>

<%= render "shared/video_modal" %>

<script>
$(window).on('load',function(){
  $('#welcomeModal').modal('show');
});
</script>
