<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
       <h1 id="main-text" class="display-4 mb-4">Qyber\black</h1>
        </h2>A network of researchers in Quantum Control</h2>
        <br/>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 " style="padding-top:16px">
        This is <a href="https://qyber.black/">Qyber\black</a>'s virtual meeting site based on <a href="https://bigbluebutton.org/">BigBlueButton</a> with <a href="https://bigbluebutton.org/2018/07/09/greenlight-2-0/">Greenlight</a>, <a href="https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton">integrated</a> with <a href="https://mattermost.org/">Mattermost</a>. It provides access to live meeting and recoding facilities. Member's of <a href="https://qyber.black/">Qyber\black</a> can access it via our <a href="https://mm.qyber.black/">Mattermost</a> site to start meetings. Public or widely accessible/distributed meetings and recordings are available via the relevant project sites, etc. and there is no need for an account here. Local accounts are available on invitation from a <a href="https://qyber.black">Qyber\black</a> admin, if there is a need for it (for workshops, etc).</p>
        <%= link_to "https://youtu.be/Hso8yLzkqj8", target: "_blank" do %>
          <h4><%= t("landing.video") %> <i class="far fa-play-circle ml-1"></i></h4>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= render "main/components/features" %>
