# git
.git
.gitignore
README.md
SECURITY.md
.github
.gitlab-ci.yml
.rvmrc

# Rails
.env*
*.rbc
capybara-*.html
.rspec
**/.bundle/
*.dev
.rubocop.yml
log/*
tmp/*
storage/*
/db/**/*.sqlite3
/db/**/*.sqlite3-journal
/db/production
/db/production-postgres
public/**/assets/
coverage/
vendor/*
Dockerfile*
spec/
test/
**/node_modules/
app/assets/builds/*
dockerfiles/
!**/.keep
