# git
.git
.gitignore
README.md

# Rails
.env
.env.prod
sample.env
*.rbc
capybara-*.html
.rspec
log
tmp
/db/**/*.sqlite3
/db/**/*.sqlite3-journal
public/system
coverage/
spec/tmp
.rvmrc
.byebug_history

# docker
docker-compose.yml
production-compose.yml

.atom
