# git
.git
.gitignore
README.md

# Rails
.env
*.rbc
capybara-*.html
.rspec
log
tmp
/db/**/*.sqlite3
/db/**/*.sqlite3-journal
/db/production
public/assets
public/b
coverage/
spec/tmp
.rvmrc
.byebug_history
vendor/bundle
.bundle
Jenkinsfile
