  <%# TODO: Revisit this (i18n, styling, template,, add in logo, ...). %>
  <div style="text-align:center; font-family:'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif">
    <div style="display:inline-block; background-color:#F5F7FB; border:1px solid #d3d3d3; padding: 25px 70px">

      <h1 style="margin-bottom:30px"> Password reset </h1>

      <p> A password reset has been requested for the email <strong><%= @user.email %></strong> </p>

      <p style="margin-bottom:45px;"> If you requested this reset, then please click the link below to reset your password: </p>

      <a href="<%= @reset_url %>" target="_blank"> Reset Password </a>

      <p style="margin-top:45px;"> You can safely ignore this email if you did not make this request. </p>

      <p> This link will expire in <%= time_ago_in_words(@expires_in) %>. </p>
    </div>
  </div>