<h2 class="mb-5">Hi <%= @user.name %>, <br> </h2>
  <p class="mb-5" >
  Congratulations on creating a <a href="https://higheredlab.com/">trial account of BigBlueButton on HigherEdLab.com</a> <br> </p>
 <p class="mb-5" > <%= @user.name %>, what do you want to achieve with BigBlueButton, the most popular open-source online classroom software?
  <br>
  </p>
<p>Here are the typical expectations of our customers: <br> </p>
<ol class="mb-4" >
<li>Save bigbluebutton hosting costs by 54%</li>
<li>Have superior audio quality during online classes </li>
<li>Get prompt technical support for issues such as 1007/1020</li>
<li>Increase capacity to teach hundreds of students simultaneously</li>
</ol>

<p class="mb-5" >Let me know what aligns the best with your requirements.</p>
<p class="mb-2">Look forward.</p>
<p class="text-muted" > --  <br> Jane Smith <br> BigBlueButton Champion, <a href="https://higheredlab.com/">HigherEdLab.com</a></p> 
