<p>Hi <%= @user.name %>,</p>
<p>
Congratulations on creating a <a href="https://higheredlab.com/">trial account of BigBlueButton on our website</a>
</p>
<p>
Can you tell me a little more about your requirements for online classes?
</p>
<p>Here are the typical scenarios that we help our customers with:</p>
<ol>
<li>Lower hosting costs by half</li>
<li>Deliver superior audio and video quality </li>
<li>Get prompt technical support</li>
<li>Increase capacity to teach hundreds of students</li>
</ol>

<p>Let me know what you really want to conduct online classes and I would be happy to help you.</p>
<p>Look forward.</p>
<p class="text-muted">
--
Jane Smith
BigBlueButton Champion, 
<a href="https://higheredlab.com/">HigherEdLab.com</a>
</p>
