<div class="jumbotron">
  <!-- Meeting URL -->
  <h4 class="display-3">
    <div id="landing_page_url" class="center-block">
      <form id="url_form" class="form-inline">
        <div class="form-group">
          <span id="meeting_url"><%= resource_url(@resource, @meeting_token) %></span>
        </div>
        <% if @refreshable %>
        <button id="url_form_button" type="button" class="btn btn-default" data-url="<%= new_meeting_path() %>">
          <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <% end %>
      </form>
    </div>
  </h4>

  <!-- Join form -->
  <div id="landing_page_join">
    <form id="join_form" class="form-inline">
      <% if current_user.nil? %>
      <div class="form-group">
        <label for="join_form_name" class="sr-only">Name</label>
        <input id="join_form_name" type="text" class="form-control input" placeholder="Your name" required>
      </div>
      <% else %>
        <input id="join_form_name" type="hidden" value="<%= current_user.name %>">
      <% end %>
      <button id="join_form_button" type="button" class="btn btn-success" data-url="<%= bbb_join_path(@resource, @meeting_token) %>">Join</button>
    </form>
  </div>
</div>
