

<% content_for :title do %>
  <div class="title">
    <h2>
      <%= "\"#{@meeting_id}\"" %>
    </h2>
  </div>
<% end %>

<%= render layout: 'shared/center_panel' do %>
  <div class="center-block center-panel-content-size col-xs-12">
    <%= render 'shared/meeting_url', hidden: true %>
    <%= render 'shared/join_form' %>
  </div>
<% end %>
