<figure class=highlight><pre><figcaption class="text" data-lang="text">
  <p>Hi Everyone</p>
  <p>The meeting will be at this URL</p>
  <p><a id="text_meeting_url" href="<%= resource_url(@resource, @meeting_token) %>"><%= resource_url(@resource, @meeting_token) %></a></p>
  <p>Please join!</p>
</figcaption></pre></figure>
