<div class='container'>

  <!-- Body -->
  <div class='body'>

    <div class="container">
      <div class="jumbotron">
        <!-- Meeting URL -->
        <h4 class="display-3">
          <div id="landing_page_url" class="center-block">
            <span id="meeting_url"><%= @meeting_url %></span>
          </div>
        </h4>

        <!-- Join form -->
        <div id="landing_page_join_form">
          <form class="form-inline">
            <div class="form-group">
              <label for="name" class="sr-only">Name</label>
              <input type="text" class="form-control input" id="name" placeholder="Your name">
            </div>
            <button type="submit" class="btn btn-success">Join</button>
          </form>
        </div>
      </div>

      <figure class=highlight><pre><figcaption class="text" data-lang="text">
        <p>Hi Everyone</p>
        <p>The meeting will be at this URL</p>
        <p><a href="<%= @meeting_url %>"><span id="meeting_url"><%= @meeting_url %></a></p>
        <p>Please join!</p>
      </figcaption></pre></figure>

      <div id="landing_page_footer_message">
        <p>Bookmark this page to reuse this meeting URL, or click refresh button to generate a new meeting URL</p>
      </div>

      <div id="landing_page_footer_oauth_append">
        <p>You can have a personal URL (with recordings) by signing in below</p>
      </div>

        
    </div>
    
    
  </div>

</div>