<% content_for :title do %>
  <div class="title">
    Hi Everyone
  </div>
  <small>
    The session will be taking place using the following URL
  </small>
<% end %>

<% content_for :footer do %>
  <div class="panel-footer">
    <div class="text-center">
      <a href="#" class="generate-link">Click refresh</a> to generate a new meeting URL
    </div>
  </div>
<% end %>

<div class="page-wrapper meeting">
  <div class='container-fluid'>

  <%= render 'shared/title', title: 'Start A New Session' %>

    <%= render layout: 'shared/center_panel' do %>
      <div class="center-block col-sm-8">
        <%= render 'shared/meeting_url', hidden: false %>
        <%= render 'shared/join_form', user: current_user %>
      </div>
    <% end %>

  </div>
</div>
