<!-- Body -->
<div class='body'>

  <div class="container">
    <%= render 'landing/join_form' %>

    <%= render 'landing/sharing_text' %>

    <%= render 'landing/footer_message' %>

    <%= render 'landing/footer_oauth_append' %>
  </div>

</div>
