

<% content_for :title do %>
  <div class="title">
    <%= t('wait_for_mod_msg') %>
  </div>
  <small>
    <%= t('wait_for_mod_explanation') %>
  </small>

<% end %>

<%= render layout: 'shared/center_panel' do %>
  <div class="loading-wrapper">
    <%= image_tag "loading-indicator.gif", :alt => "" %>
  </div>
<% end %>

<script>
// Notify the server when a user is no longer waiting to join a meeting.

window.addEventListener("beforeunload", function(e){
  $.post(window.location.href + '/no_longer_wait', {name: localStorage.waitingName});
}, false);
</script>
