<% content_for :title do %>
  <div class="title">
    Looks like you're the first one here...
  </div>
  <small>
    You will automatically join when the meeting starts
  </small>
<% end %>

<%= render layout: 'shared/center_panel' do %>
<% end %>
