<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <div class="card-title text-primary">
            <h3>Create New Room</h3>
          </div>

          <hr class="small-rule">
          <div class="form-group">
            <div class="input-icon">
              <span class="input-icon-addon">
                <i class="fas fa-chalkboard-teacher"></i>
              </span>
              <input type="email" class="form-control" placeholder="Enter a room name...">
            </div>
            <label class="custom-switch mt-5 mb-5 float-left">
              <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
              <span class="custom-switch-indicator"></span>
              <span class="custom-switch-description">Automatically join me into the room when created.</span>
            </label>
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-outline-primary btn-block btn-pill">Create Room</button>
          </div>
        </div>
        <div class="card-footer">
          <p>You will be free to delete this room at any time.</p>
        </div>
      </div>

    </div>
  </div>
</div>
