<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <div class="card-title text-primary">
            <h3>Create New Room</h3>
          </div>

          <hr class="small-rule">
          <%= form_for(:room, url: rooms_path) do |f| %>
            <div class="input-icon">
              <span class="input-icon-addon">
                <i class="fas fa-chalkboard-teacher"></i>
              </span>
              <%= f.text_field :name, id: "room-name", class: "form-control", placeholder: "Enter a room name...", autocomplete: :off %>
              <div class="invalid-feedback text-left">Room name cannot be blank.</div>
            </div>
            <label class="custom-switch mt-5 mb-5 float-left">
              <%= f.check_box :auto_join, class: "custom-switch-input", checked: true %>
              <span class="custom-switch-indicator"></span>
              <span class="custom-switch-description">Automatically join me into the room.</span>
            </label>
          <div class="form-footer">
            <%= f.submit "Create Room", id: "create-room-submit", class: "btn btn-outline-primary btn-block btn-pill" %>
          </div>
          <% end %>
        </div>
        <div class="card-footer">
          <p>You will be free to delete this room at any time.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

var roomCreateValidations = function(){
  if($('#room-name').val().length == 0){
    $('#room-name').addClass("is-invalid");
  }
}

$('#create-room-submit').on('click', roomCreateValidations);

</script>
