<div class="modal fade" id="selectClientModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <div class="card-title text-primary">
            <h3>Which client would you like to use?</h3>
          </div>

          <hr class="small-rule">
          <div class="form-group">
            <div class="selectgroup selectgroup-pills">
              <label class="selectgroup-item">
                <input type="radio" name="icon-input" value="1" class="selectgroup-input" checked="">
                <span class="selectgroup-button selectgroup-button-icon client-icon p-2"><i class="fab fa-html5 fa-3x"></i></span>
                <p>HTML5</p>
              </label>
              <label class="selectgroup-item">
                <input type="radio" name="icon-input" value="2" class="selectgroup-input">
                <span class="selectgroup-button selectgroup-button-icon client-icon"><i class="fas fa-bolt fa-3x"></i></span>
                <p>Flash</p>
              </label>
            </div>
         </div>
          <div class="card-footer">
            <p>We recommend you use the HTML5 client for the best experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
