<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <div class="card-title text-primary">
            <h3>Welcome to Greenlight</h3>
          </div>
          <hr class="small-rule">

          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/yGX3JCv7OVM" frameborder="0" allowfullscreen></iframe>
          </div>

          <div class="col-6 offset-3">
            <button type="submit" class="btn btn-outline-primary btn-block btn-pill mt-5" data-dismiss="modal">Enter Site</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
