<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= t('.hi', name: @user.name) %></p>
    <p><%= t('.phrase1') %></p>
    <p><%= t('.phrase2', url: @room_url) %></p>
  </body>
</html>
