<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">

  <h2 class="mb-6">Easiest Online Classes at Lowest Cost</h2>

  <div class="row feature-stamp">
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-star fa-2x"></i></div>
        <h4 class="mt-4">White-label</h4>
        <p>Build and promote your online classes with your brand, url, logo and theme</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-ban fa-2x"></i></span>
      <h4 class="mt-4">Data Privacy</h4>
      <p>Get complete control of your students’ data, without ever sharing with any 3rd party</p>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-chart-bar fa-2x"></i></span>
      <h4 class="mt-4">Analytics</h4>
      <p>Get analytics including time of joining and leaving, chat transcript, emoji and polls</p>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-wrench fa-2x"></i></span>
      <h4 class="mt-4">Support</h4>
      <p>Count on real-fast and real-person tech support for troubleshooting and upgrades</p>
    </div>
  </div>
</div>