<div class="container mt-8 mb-6 text-center">
  <h2 class="mb-6">Shule <%= t("features.title") %></h2>
  <div class="bbb-features">
    <div class="row">
      <div class="span four first">
        <i class="fa fa-play-circle-o"></i>
        <div class="bbb-features-content">
          <h3 class="featTito">Record and Playback</h3>
          <p>
            WebShule can record your sessions for later playback by students.
          </p>
        </div>
      </div>
      <div class="span four">
        <i class="fa fa-pencil-square-o"></i>
        <div class="bbb-features-content">
          <h3 class="featTito">Whiteboard</h3>
          <p>
            The whiteboard controls let you annotate key parts of your
            presentation.
          </p>
        </div>
      </div>
      <div class="span four last">
        <i class="fa fa-desktop"></i>
        <div class="bbb-features-content">
          <h3 class="featTito">Desktop Sharing</h3>
          <p>
            You can broadcast your desktop for all users to see without use of any plugins or extensions.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span four first">
        <i class="fa fa-microphone"></i>
        <div class="bbb-features-content">
          <h3 class="featTito">WebRTC Audio</h3>
          <p>
            Users of Chrome and FireFox browsers will benefit from high-quality,
            low-latency WebRTC audio.
          </p>
        </div>
      </div>
      <div class="span four">
        <i class="fa fa-bar-chart-o"></i>
        <div class="bbb-features-content">
          <h3 class="featTito">Presentation</h3>
          <p>
            You can upload any PDF presentation or MS office document. WebShule
            keeps everyone in sync with your current slide, zoom, pan,
            annotations, and mouse pointer.
          </p>
        </div>
      </div>
      <div class="span four last">
        <i class="fa fa-video-camera"></i>
        <div class="bbb-features-content">
          <h3 class="featTito">Web Cam</h3>
          <p>
            Multiple users can share their webcam at the same time. There is no
            built-in limit on the number of simultaneously active webcams.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span four first">
        <i class="fa fa-smile-o"></i>
        <div class="bbb-features-content">
          <h3 class="featTito">Emoji</h3>
          <p>Students can raise hand and use emoji icons for feedback.</p>
        </div>
      </div>
      <div class="span four">
        <i class="fa fa-check-square-o"></i>
        <div class="bbb-features-content">
          <h3 class="featTito">Polling</h3>
          <p>You can poll students anytime to increase engagement.</p>
        </div>
      </div>
      <div class="span four last">
        <i class="fa fa-comments-o"></i>
        <div class="bbb-features-content">
          <h3 class="featTito">Chat</h3>
          <p>You can interact with students through public and private chat.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span four first">
        <i class="fa fa-cc"></i>
        <div class="bbb-features-content">
          <h3 class="featTito">Live Captioning</h3>
          <p>
            You can enter live captions for students. These captions will later
            appear as subtitles in recordings.
          </p>
        </div>
      </div>
      <div class="span four">
        <i class="fa fa-users"></i>
        <div class="bbb-features-content">
          <h3 class="featTito">Breakout Rooms</h3>
          <p>
            You can group and place students into breakout rooms (full WebShule
            Lessions) for give number of minutes for increased collaboration.
          </p>
        </div>
      </div>
      <div class="span four last">
        <i class="fa fa-blind"></i>
        <div class="bbb-features-content">
          <h3 class="featTito">Screen Reader</h3>
          <p>
            Students with visual disabilities can use JAWS screen reader to
            interact with WebShule.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
