<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<section class="categories blocks">
<ul class="blocks-list">
  
    
      <li class="blocks-item">
        <a href="/hc/en-us/categories/360000922952-Personal-Rooms" class="blocks-item-link">
          <span class="blocks-item-title">Personal Rooms</span>
          <span class="blocks-item-description">Personal Rooms is a simple front-end for using BigBlueButton outside your learning management system (LMS). 

</span>
        </a>
      </li>
    
  
    
      <li class="blocks-item">
        <a href="/hc/en-us/categories/360000379651-BigBlueButton-HTML5" class="blocks-item-link">
          <span class="blocks-item-title">BigBlueButton HTML5</span>
          <span class="blocks-item-description">All things BigBlueButton including frequently asked questions and troubleshooting tips specifically for users joining...</span>
        </a>
      </li>
    
  
    
      <li class="blocks-item">
        <a href="/hc/en-us/categories/115000676183-Moodle-BigBlueButtonBN-" class="blocks-item-link">
          <span class="blocks-item-title">Moodle BigBlueButtonBN </span>
          <span class="blocks-item-description"></span>
        </a>
      </li>
    
  
    
      <li class="blocks-item">
        <a href="/hc/en-us/categories/115000676203-Sakai-" class="blocks-item-link">
          <span class="blocks-item-title">Sakai </span>
          <span class="blocks-item-description"></span>
        </a>
      </li>
    
  
    
      <li class="blocks-item">
        <a href="/hc/en-us/categories/115000661246-Canvas-" class="blocks-item-link">
          <span class="blocks-item-title">Canvas </span>
          <span class="blocks-item-description">Canvas Conferences integration with BigBlueButton</span>
        </a>
      </li>
    
  
</ul>

</section>
