<div class="container mt-5">
  <div class="col-md-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Terms and Conditions</h3>
      </div>
      <div class="card-body">
          <div class="terms">
            <p><%= Rails.configuration.terms %></p>
          </div>
          <div class="btn-list mt-4 text-right mt-8">
            <%= button_to "I accept the terms and conditions.", terms_path, params: {accept: true}, class: "btn btn-primary btn-space" %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
