<div class="container pt-5">
  <div class="col-md-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= t("terms.title") %></h3>
      </div>
      <div class="card-body">
          <div class="terms">
            <%= markdown(Rails.configuration.terms) %>
          </div>
          <div class="btn-list text-right pt-8">
            <%= button_to t("terms.accept"), terms_path, params: {accept: true}, class: "btn btn-primary btn-space" %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
