<div class="container">
    <h3>Failed to Save Tool Proxy</h3>
    <div><span style="font-weight: bold">Response Code:</span><%= @error[:response_status] %></div>
    <div><span style="font-weight: bold">Response Body:</span><%= @error[:response_body] %></div>
</div>
