.btn-primary,
.btn-primary:visited,
.btn-primary i {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  color: white !important;
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:hover i {
  background-color: $primary-color-darken !important;
  border-color: $primary-color-darken !important;
  color: white !important;
}

a {
  color: $primary-color !important;
}

.oauth-signin {
  color: white !important;

  &:hover * {
    color: white !important;
  }
}

.btn-outline-primary {
  border-color: $primary-color !important;
  color: $primary-color !important;

  &:hover {
    background: $primary-color !important;
    color: white !important;
  }

  &:focus {
    box-shadow: 0 0 0 2px $primary-color-lighten;
  }
}

.header {
  & .avatar {
    background-color: $primary-color !important;
    color: white !important;
  }

  & a:hover:not(.btn) {
    color: $primary-color !important;
  }

  & .header-nav {
    border-color: $primary-color !important;
  }

  & .header-nav.active {
    color: $primary-color !important;
  }
}

.dropdown-item {
  color: #6e7687 !important;
  &:hover {
    color: $primary-color !important;
  }
  &:active {
    background-color: $primary-color-lighten !important;
  }
}

input:focus, select:focus {
  box-shadow: 0 0 5px $primary-color !important;
  border-color: $primary-color !important;
}

.list-group-item.active {
  background-color: $primary-color-lighten !important;

  &, .list-group-item.active * {
    color: $primary-color !important;
  }
}

.text-primary {
  color: $primary-color !important;
}

.bg-primary {
  background-color: $primary-color !important;
}

.btn-danger {
  color: white !important;
}

#clear-search {
  &:hover {
    color: $primary-color-darken !important;
  }
}

.pagination {
  .page-item {
    &.active a {
      color:white !important;
      background-color: $primary-color !important;
    }

    & a {
      border-color: $primary-color !important;
    }

    & a:hover {
      background-color: $primary-color-lighten !important;
    }

    & a:focus {
      box-shadow: 0 0 3px $primary-color !important;
    }
  }
}
