<div class="pt-2 text-center text-danger danger-section pb-1">
  <i class="fas fa-exclamation-triangle"></i>
  <p class="d-inline">&nbsp;This deployment is using a pre-configured testing server,
  you should replace this with your own.
  For details, see the <%= link_to "documentation", "http://docs.bigbluebutton.org/install/green-light.html#installing-greenlight", target: "_blank" %>.</p>
</div>
