<h1 class="text-center text-primary">Features</h1>
<hr class="small-rule">

<div class="row text-center">
  <div class="col-6">
    <h1>Feature One</h1>
  </div>
  <div class="col-6">
    <h1>Feature Two</h1>
  </div>
</div>
