<h1 class="text-center mt-7"><%= t("features.title") %></h1>

<div class="container text-center">
  <div class="row mt-8">
    <div class="col-4">
      <span class="stamp feature-stamp bg-cyan">
        <i class="fas fa-chalkboard-teacher fa-3x feature-icon"></i>
      </span>
      <h4 class="mt-5 text-muted"><%= t("features.rooms") %></h4>
    </div>
    <div class="col-4">
      <span class="stamp feature-stamp bg-cyan">
        <i class="fas fa-film fa-3x feature-icon"></i>
      </span>
      <h4 class="mt-5 text-muted"><%= t("features.recordings") %></h4>
    </div>
    <div class="col-4">
      <span class="stamp feature-stamp bg-cyan">
        <i class="fas fa-pencil-alt fa-3x feature-icon"></i>
      </span>
      <h4 class="mt-5 text-muted"><%= t("features.designs") %></h4>
    </div>
  </div>
</div>
