<h3 class="text-center text-primary mt-6">Features</h3>
<hr class="small-rule">

<div class="container text-center">
  <div class="row mt-4">
    <div class="col-4">
      <i class="fas fa-video fa-6x"></i>
      <h4 class="mt-5">Manage Recordings</h4>
    </div>
    <div class="col-4">
      <i class="fas fa-users fa-6x"></i>
      <h4 class="mt-5">Create Meetings</h4>
    </div>
    <div class="col-4">
      <i class="fas fa-history fa-6x"></i>
      <h4 class="mt-5">Session History</h4>
    </div>
  </div>
  <div class="row mt-8">
    <div class="col-4">
      <i class="fas fa-pencil-alt fa-6x"></i>
      <h4 class="mt-5">Custom Designs</h4>
    </div>
    <div class="col-4">
      <i class="fas fa-user-cog fa-6x"></i>
      <h4 class="mt-5">User Mangement</h4>
    </div>
    <div class="col-4">
      <i class="fas fa-thumbs-up fa-6x"></i>
      <h4 class="mt-5">Feature Six</h4>
    </div>
  </div>
</div>
