
<footer class="footer pt-3">
  <p class="text-center mb-1"><%= t("footer.powered_by", href: link_to(t("greenlight"), "https://liveclass.site/b/", target: "_blank", rel: "noopener")).html_safe %></p>
</footer>

<%= render "shared/components/cookie_warning" %>
