<footer class="footer">
  <p class="left position-absolute mx-3">v <%= Greenlight::Application::VERSION %></p>
  <h5 class="text-center"><%= t("footer.powered_by", href: link_to(t("bigbluebutton"), "http://bigbluebutton.org/", target: "_blank", class: "text-blue")).html_safe %></h5>
</footer>
