<div <%= "hidden" if hidden %> class="meeting-url-wrapper">
  <div class="input-group">
    <input type="text" readonly="readonly" class="form-control meeting-url"/>
    <span class="input-group-btn">
      <button type="button" class="btn btn-default meeting-url-copy">
        <i class="fa fa-paperclip" aria-hidden="true"></i>
      </button>
    </span>
  </div>
  <small>
    <em><%= t('url_copy_explanation') %></em>
  </small>
</div>
