<div class="sessions pb-5">
  <div class="container pt-6">

    <%= render "shared/components/subtitle", subtitle: "Sessions" %>

    <div class="col-12">
      <div class="card">
        <div class="table-responsive">
          <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Thumbnails</th>
                <th class="text-left">Length</th>
                <th class="text-left">Users</th>
                <th class="text-left">Visibility</th>
                <th class="text-center"><i class="icon-settings"></i></th>
              </tr>
            </thead>
            <tbody>
            <% 3.times do %>
              <tr>
                <td>
                  <div>Example Meeting</div>
                  <div class="small text-muted">
                    June 21, 2017 <i>(about 3 hours ago)</i>
                  </div>
                </td>
                <td>
                  <img class="thumbnail px-2" src="http://test-install.blindsidenetworks.com/presentation/b622495d927cd99e9898b0601c2b18a5424a0627-1527259102285/presentation/d2d9a672040fbde2a47a10bf6c37b6a4b5ae187f-1527259102298/thumbnails/thumb-1.png">
                  <img class="thumbnail px-2" src="http://test-install.blindsidenetworks.com/presentation/b622495d927cd99e9898b0601c2b18a5424a0627-1527259102285/presentation/d2d9a672040fbde2a47a10bf6c37b6a4b5ae187f-1527259102298/thumbnails/thumb-1.png">
                  <img class="thumbnail px-2" src="http://test-install.blindsidenetworks.com/presentation/b622495d927cd99e9898b0601c2b18a5424a0627-1527259102285/presentation/d2d9a672040fbde2a47a10bf6c37b6a4b5ae187f-1527259102298/thumbnails/thumb-1.png">
                </td>
                <td class="text-left">
                  <div class="small text-muted text-uppercase">
                    Length
                  </div>
                  1 hr
                </td>
                <td class="text-left">
                  <div class="small text-muted text-uppercase">
                    Users
                  </div>
                  4
                </td>
                <td class="text-left">
                  <div class="small text-muted text-uppercase">
                    Visibility
                  </div>
                  Unlisted
                </td>
                <td>
                  <a href="#" class="btn btn-secondary">Presentation</a>
                  <a href="#" class="btn btn-secondary">Podcast</a>
                </td>
                <td class="text-center">
                  <div class="item-action dropdown">
                    <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                      <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                      <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>    
    </div>
  </div>
</div>
