<div class="col-10 offset-1 form-group">
  <div class="start-block">
    <%= form_for(:meeting, url: create_meeting_path) do |f| %>
      <div class="input-group" style="height: 70px;">
        <%= f.text_field :name, id: "name-input", class: "form-control main-large", placeholder: "Enter a meeting name!", autocomplete: :off %>
        <span class="input-group-append">
          <%= f.submit "Start", class: "btn btn-primary px-7 main-large" %>
        </span>
      </div>
    <% end %>
    <div class="input-group align-center p-4">
      <div class="col-8">
        <label class="form-label">Invite Participants</label>
        <input id="invite-url" type="text" class="form-control" value="greenlight.com/m/your-meeting-name" readonly="">
      </div>
      <div class="col-4 mt-auto align-center">
        <button id="copy" class="btn btn-primary">
          <i class="fas fa-copy"></i>
          Copy
        </button>
        <button id="email" class="btn btn-primary">
          <i class="fas fa-envelope"></i>
          Email
        </button>
      </div>
    </div>
  </div>
</div>
