<div class="card text-center">
  <div class="card-body">
    <div class="col-8 offset-2 form-group">
      <%= form_for(:meeting, url: create_meeting_path) do |f| %>
        <div class="input-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Enter a meeting name to start!" %>
          <span class="input-group-append">
            <%= f.submit "Start Meeting", class: "btn btn-primary" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    Invite URL and stuff goes here.
  </div>
</div>
