<div class="card text-center">
  <div class="card-body">
    <div class="col-8 offset-2 form-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter a meeting name to start!">
        <span class="input-group-append">
          <button class="btn btn-primary" type="button">Start Meeting</button>
        </span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    Invite URL and stuff goes here.
  </div>
</div>
