default: &default
  pool: 5
  timeout: 5000

development:
  <<: *default
  adapter: sqlite3
  database: db/development.sqlite3

test:
  <<: *default
  adapter: sqlite3
  database: db/development.sqlite3

production:
  <<: *default
  adapter: postgresql
  database: greenlight_production  
  encoding: unicode  
  username: postgres  
  password:  
  host: db 

