<div class="page">
  <div class="page-content">
    <div class="container text-center">
      <div class="display-1 text-muted mb-5">500</div>
      <h1 class="h2 mb-3">Oh no! Looks like something went wrong on our end.</h1>
      <p class="h4 text-muted font-weight-normal mb-7">The error has been logged, we'll take a look!</p>
      <a class="btn btn-primary" href="javascript:history.back()">
        <i class="fas fa-arrow-left mr-2"></i>Go back
      </a>
    </div>
  </div>
</div>
