<div class="text-center center-page">
  <h1 class="display-2 font-weight-400">Oh no!</h1>
  <h3>Looks like something went wrong on our end.</h3>
  <%= link_to root_url do %>
    <h4>Return to home page.</h4>
  <% end %>
</div>
