<div class="text-center center-page">
  <h1 class="display-2 font-weight-400">Whoops!</h1>
  <h2>Looks like we can't find that resource.</h2>
  <h3>Is it possible its been removed?</h3>
  <%= link_to root_url do %>
    <h4>Return to home page.</h4>
  <% end %>
</div>
