<div class="page">
  <div class="page-content">
    <div class="container text-center">
      <div class="display-1 text-muted mb-5">422</div>
      <h1 class="h2 mb-3"><%= t("errors.unprocessable.message") %></h1>
      <p class="h4 text-muted font-weight-normal mb-7"><%= t("errors.unprocessable.help") %></p>
      <a class="btn btn-primary" href="javascript:history.back()">
        <i class="fas fa-arrow-left mr-2"></i><%= t("go_back") %>
      </a>
    </div>
  </div>
</div>
