<p>The join the meeting, enter a name.</p>

<p>Enter a name to start a session.</p>
<%= form_tag join_room_path(room_uid: @room.uid) do %>
  <%= text_field_tag "join_name" %>
  <%= submit_tag "Join" %>
<% end %>