<p>This is a room.</p>

<p><%= @room.user.name %><p>
<p><%= @room.uid %><p>

<p>Click below to join the meeting.</p>

<% if @room.is_running? %>
  <p>meeting is already running</p>
<% else %>
  <%= link_to "Start Room", start_room_path(@room) %>
<% end %>

<br><br>
<%= link_to "Sessions", sessions_path(@room) %>
