<%= render 'shared/room_event' do %>
  <div class="row">
    <div class="col-9">
      <h3><%= t("room.wait.message") %></h3>
      <h4 class="text-muted"><%= t("room.wait.auto") %></h4>
    </div>
    <div class="col-3">
      <div class="loader align-bottom mt-3"></div>
    </div>
  </div>
<% end %>
