//@import "tabler/functions";

@import "tabler/core";
@import "tabler/type";
@import "tabler/grid";

@import "tabler/layout";
@import "tabler/aside";
@import "tabler/header";
@import "tabler/footer";
@import "tabler/colors";
@import "tabler/text";
@import "tabler/utilities";

@import "tabler/nav";
@import "tabler/button";
//@import "tabler/alert";
//@import "tabler/close";
//@import "tabler/badge";
@import "tabler/tables";
//@import "tabler/breadcrumb";
//@import "tabler/pagination";
@import "tabler/cards";
//@import "tabler/popover";
@import "tabler/dropdown";
@import "tabler/list";
@import "tabler/list-group";
@import "tabler/avatar";
//@import "tabler/product";
@import "tabler/progress";
@import "tabler/icon";
//@import "tabler/image";
//@import "tabler/link";
//@import "tabler/media";
@import "tabler/form";
//@import "tabler/sparkline";
@import "tabler/social";
//@import "tabler/maps";
//@import "tabler/statuses";
//@import "tabler/charts";
//@import "tabler/chips";
@import "tabler/stamp";
//@import "tabler/chat";
//@import "tabler/example";
//@import "tabler/tag";
//@import "tabler/syntax";
//@import "tabler/infobox";
//@import "tabler/carousel";

//@import "tabler/forms/custom-range";
//@import "tabler/forms/custom-selectgroup";
@import "tabler/forms/custom-switch";
//@import "tabler/forms/custom-imagecheck";
//@import "tabler/forms/custom-colorinput";

//@import "tabler/timeline";

//@import "tabler/browser";
//@import "tabler/flag";
//@import "tabler/payments";
//@import "tabler/jvectormap";
//@import "tabler/selectize";

@import "tabler/fonts/feather";
