#admin-panel {
  #admin-sidebar {
    height: 100%;
    border-right: 2px solid whitesmoke;
    padding: 1rem;
  }

  .tab-content {
    display: flex;
  }

  .tab-content > .tab-pane {
    display: block;
    visibility: hidden;
    margin-right: -100%;
    width: 100%;
  }

  .tab-content > .active {
    visibility: visible;
  }

  input.search-bar {
    max-width: 300px;
  }

  .admin-table {
    table, td, tr {
      border-color: whitesmoke !important;
    }
  }

  .dropdown-toggle::after {
    display: none !important;
  }
}

.brand-color-popover {
  .popover-arrow {
    display: none !important;
  }

  input {
    font-size: 16px !important;
    height: 24px !important;
  }
}


