$admin-card-height: 550px;

#admin-panel {
  #admin-sidebar {
    height: 100%;
    border-right: 2px solid whitesmoke;
    padding: 1rem;
    min-height: $admin-card-height;
  }

  .admin-panel-card {
    min-height: $admin-card-height;
  }

  .tab-content {
    display: flex;
  }

  .tab-content > .tab-pane {
    display: block;
    visibility: hidden;
    margin-right: -100%;
    width: 100%;
  }

  .tab-content > .active {
    visibility: visible;
  }

  input.search-bar {
    max-width: 300px;
  }

  .admin-table {
    table, td, tr {
      border-color: whitesmoke !important;
    }
    td {
      max-width: 200px;
    }
  }

  .dropdown-item {
    color: $muted;
    &:hover {
      color: var(--brand-color);
    }
    &:active {
      background-color: white !important;
    }
  }

  .dropdown-toggle::after {
    display: none !important;
  }
}

.color-picker {
  width: 200px;
  min-height: 330px;

  .react-colorful__hue {
    border-radius: 0 !important;
  }
}

.color-preview {
  display: inline-block;
  width: 50%;
  height: 15px;
}

.popover-arrow {
  display: none !important;
}

.room-limit{
  width: 100px;
}

.role-badge {
  background-color: whitesmoke !important;
  height: 24px;
  line-height: 18px;
  color: gray;
}

.role-color-dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
}

