#admin-panel {
  #admin-sidebar {
    height: 100%;
    border-right: 2px solid whitesmoke;
    padding: 1rem;
    min-height: $admin-card-height;
  }

  .admin-panel-card {
    min-height: $admin-card-height;
  }

  .tab-content {
    display: flex;
  }

  .tab-content > .tab-pane {
    display: block;
    visibility: hidden;
    margin-right: -100%;
    width: 100%;
  }

  .tab-content > .active {
    visibility: visible;
  }

  input.search-bar {
    max-width: 300px;
  }

  .admin-table {
    table, td, tr {
      border-color: whitesmoke !important;
    }
  }

  .dropdown-item {
    color: $muted;
    &:hover {
      color: var(--brand-color);
    }
    &:active {
      background-color: white !important;
    }
  }

  .dropdown-toggle::after {
    display: none !important;
  }
}

#manage-users-table {
  @include media-breakpoint-down(xl) {
    td, tr {
      // Full name and creation date
      &:nth-child(1) {
        min-width: $column-lg-width;
      }
      // Email address
      &:nth-child(2) {
        min-width: $column-lg-width;
      }
      // Role
      &:nth-child(3) {
        min-width: $column-md-width;
      }
      // Dropdown button
      &:nth-child(4) {
        min-width: $column-sm-width;
      }
    }
  }
}

#server-rooms-table {
  @include media-breakpoint-down(xl) {
    td, tr {
      // Full name and last meeting date
      &:nth-child(1) {
        min-width: $column-lg-width;
      }
      // Owner name
      &:nth-child(2) {
        min-width: $column-md-width;
      }
      // Room ID
      &:nth-child(3) {
        min-width: $column-md-width;
      }
      // # of participants
      &:nth-child(4) {
        min-width: $column-sm-width;
      }
      // Status
      &:nth-child(5) {
        min-width: $column-sm-width;
      }
      // Dropdown button
      &:nth-child(6) {
        min-width: $column-xs-width;
      }
    }
  }
}

#recordings-table {
  @include media-breakpoint-down(xl) {
    td, tr {
      // Name and recording date
      &:nth-child(1) {
        min-width: $column-lg-width;
      }
      // Length
      &:nth-child(2) {
        min-width: $column-sm-width;
      }
      // # of users
      &:nth-child(3) {
        min-width: $column-xs-width;
      }
      // Visibility dropdown
      &:nth-child(4) {
        min-width: $column-md-width;
      }
      // Format badges
      &:nth-child(4) {
        min-width: $column-lg-width;
      }
      // Dropdown button
      &:nth-child(4) {
        min-width: $column-xs-width;
      }
    }
  }
}

.color-picker {
  width: 200px;
  min-height: 330px;

  .react-colorful__hue {
    border-radius: 0 !important;
  }
}

.color-preview {
  display: inline-block;
  width: 50%;
  height: 15px;
}

.popover-arrow {
  display: none !important;
}

.room-limit{
  width: 100px;
}

.role-badge {
  background-color: whitesmoke !important;
  height: 24px;
  line-height: 18px;
  color: gray;
}

.role-color-dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
}

