.text-link {
  text-decoration: none !important;
  color: var(--brand-color) !important;
}

.wide-white {
  background: white;
  box-shadow: 0 0 0 100vmax white;
  clip-path: inset(0 -100vmax);
}

.vertical-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 75%;

  @include media-breakpoint-down(xxl) {
    height: 85%;
  }
}

.no-header-height {
  min-height: calc(100vh - $footer-height - $footer-buffer-height);

  .vertical-buffer {
    padding-top: 10%;
  }
}

.regular-height {
  min-height: calc(100vh - $header-height - $footer-height - $footer-buffer-height);

  .vertical-buffer {
    padding-top: 5%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.nav-tabs {
  border-bottom: 0;
  padding-bottom: 1px;

  .nav-link {
    transition: none;
    border: 0;

    &.active, &:hover {
      color: var(--brand-color);
      border-bottom: 1.5px solid var(--brand-color) !important;
    }
  }
}

.border-whitesmoke {
  border-color: whitesmoke !important;
}

.background-whitesmoke {
  background: whitesmoke !important;
  box-shadow: 0 0 0 100vmax whitesmoke;
  clip-path: inset(0 -100vmax);
}
