.text-link {
  text-decoration: none !important;
  color: #0000EE;
}

.wide-background {
  background: whitesmoke;
  margin: 0 -600rem;
  padding: 0.25rem 600rem;
  height: 100%;
}

.vertical-center {
  margin-top: 20vh;
}

.full-height {
  height: calc(100vh - 82px);
}

.full-height-rooms {
  height: calc(100vh - 171px);
}

.full-height-room {
  height: calc(100vh - 402px);
}

.nav-tabs {
  border-bottom: 0;

  .nav-link {
    transition: none;
    &.active, &:hover {
      color: $primary;
      border: 0;
      border-bottom: 1px solid $primary;
    }
  }
}