.text-link {
  text-decoration: none !important;
  color: #0000EE;
}

.wide-background-room {
  background: white;
  margin: 0 -600rem;
  padding: 0.25rem 600rem;
  //TODO - samuel: need to find a solution for this
  height: 302px;
}

.wide-background-rooms {
  background: white;
  margin: 0 -600rem;
  padding: 0.25rem 600rem;
  height: 90px;
}

.vertical-center {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.regular-height {
  height: calc(100vh - $header-height - $footer-height);
}

.no-header-height {
  height: calc(100vh - $footer-height);
}

.cursor-pointer {
  cursor: pointer;
}

.nav-tabs {
  border-bottom: 0;
  padding-bottom: 1px;

  .nav-link {
    transition: none;
    border: 0;

    &.active, &:hover {
      color: var(--brand-color);
      border-bottom: 1.5px solid var(--brand-color) !important;
    }
  }
}

.border-whitesmoke {
  border-color: whitesmoke !important;
}

.background-whitesmoke {
  background: whitesmoke !important;
}
