.text-link {
  text-decoration: none !important;
  color: #0d6efd;
}

.wide-background-room {
  margin-top: -299px;
  z-index: 1;
  position: relative;
}

.wide-background-rooms {
  margin-top: -90px;
  z-index: 1;
  position: relative;
}

.vertical-center {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-buffer {
  padding-top: 10%;
}

.no-header-height {
  height: calc(100vh - $footer-height - $footer-buffer-height);
}

.regular-height {
  min-height: calc(100vh - $header-height - $footer-height - $footer-buffer-height);
}

.cursor-pointer {
  cursor: pointer;
}

.nav-tabs {
  border-bottom: 0;
  padding-bottom: 1px;

  .nav-link {
    transition: none;
    border: 0;

    &.active, &:hover {
      color: var(--brand-color);
      border-bottom: 1.5px solid var(--brand-color) !important;
    }
  }
}

.border-whitesmoke {
  border-color: whitesmoke !important;
}

.background-whitesmoke {
  background: whitesmoke !important;
}

.header-title {
  font-size: 4rem;
  line-height: 3.5rem;
}