// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-panel-wrapper {
  .join-form {
    width: 100%;
  }

  .meeting-url-wrapper {
    .meeting-url {
      cursor: default;
    }
  }
}

.rooms {

  .table-wrapper {
    padding: 40px 50px 10px 50px;

    #recordings {
      thead {
        th:after {
          content: none; //removes the sort icon in table header
        }
      }
      .dataTables_empty {
        text-align: center;
      }
    }
  }

}
