@import "custom-variables";
$ldap-bg-color: #d6d6d6 !default;

body {
    background-color: $ldap-bg-color;
}

.center {
    background-color: white;
    padding: 30px 50px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
    text-align: center;
    color: rgb(73, 80, 87);
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 600;
}