// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.responsive-header {
  font-size: 3.3vw;
}

.landing-section {
  position: relative;
  height: 40%;
}

.feature-stamp {
  width: 7vw !important;
  height: 7vw !important;
  font-size: 1vw;
}

.feature-icon {
  transform: translateY(-50%);
  margin-top: 50%;
}
