#profile {

  #profile-sidebar {
    height: 100%;
    border-right: 2px solid whitesmoke;
    padding: 1rem;
  }

  #delete-account {
    max-width: 500px;
  }

  .tab-content {
    display: flex;
  }

  .tab-content > .tab-pane {
    display: block;
    visibility: hidden;
    margin-right: -100%;
    width: 100%;
  }

  .tab-content > .active {
    visibility: visible;
  }
}

#profile-avatar {
  max-width: 200px;

  .avatar-icon-circle {
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    color: gray;
    background-color: whitesmoke;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);

    svg {
      margin-top: 5px;
      margin-left: 5px;
    }
  }
}

#edit-user-dropdown {
  &::after {
    display: none;
  }
}
