#room-card {
  .room-icon {
    width: 75px;
    height: 75px;
    background-color: var(--brand-color-light);
  }
  .card-body {
    &:hover {
      cursor: pointer;
    }
  }
  .meeting-badges {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.tab-content {
  padding: 0%;
}


.room-settings-row {
  line-height: 28px;
}

#room-settings {
  .access-code-input {
    position: relative;
    button {
      position: absolute;
      right: 5px;
      top: 0px;
    }
  }
}
