.rooms-card {
  &:hover {
    background: rgba(26, 69, 74, 0.1)
  }
}

.room-card-top {
  &:hover {
    cursor: pointer;
  }
}

.room-card-copy {
  &:hover {
    cursor: pointer;
  }
}

.tab-content {
  padding: 0%;
}

#delete-room{
  color: red;
  background-color: white;
  border: none;
}

.room-settings-row {
  max-width: 400px;
  line-height: 28px;
}

