#room-card {
  border: 2px solid transparent !important;

  &:hover {
    border: 2px solid var(--brand-color-light) !important;
  }
  .room-icon {
    width: 75px;
    height: 75px;
    background-color: var(--brand-color-light);
  }
  .card-body {
    &:hover {
      cursor: pointer;
    }
  }
  .room-card-badges {
    margin-bottom: auto;
    margin-left: auto;
  }
}

.tab-content {
  padding: 0%;
}


.room-settings-row {
  line-height: 28px;
}

#room-settings {
  .access-code-input {
    position: relative;
    button {
      position: absolute;
      right: 5px;
      top: 0px;
    }
  }
}

// Room Online Badges
.participants-badge {
  background-color: whitesmoke !important;
  color: gray;
  height: 24px;

  svg {
    padding-bottom: 2px;
  }
}

.online-badge {
  background-color: whitesmoke !important;
  height: 24px;
  line-height: 18px;
}

.blinking-green-dot {
  animation: blinker 2s linear infinite;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid green;
  background-color: green;
  border-radius: 100%;
}
@keyframes blinker {
  50% {
    opacity: 0.6;
  }
}
