body{
  direction: rtl;
  text-align: right;
}

.d-sm-inline-block {
  padding-right: 3px;
}

.dropdown-menu{
  float: right;
  text-align: right;
}

.custom-switch-description{
  float: right;
}

.float-right {
    float: left !important;
}

.fa, .fas{
  margin-left: 5px;
}

