#shared-access-empty {
  .user-icon-circle {
    width: 100px;
    height: 100px;
    background-color: $primary-light;
  }
}

#shared-access-form {
  input.search-bar {
    width: 100%;
  }
}

#shared-access-modal {
  .modal-header {
    margin-left: 0 !important;
  }
}
