@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";


html, body {
  width: 100%;
  height: 100%;
}

.app-background {
  background: #4dc0a2;
  background: -moz-linear-gradient(top, #4dc0a2 0%, #4dc0a2 35%, #ffffff 35%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #4dc0a2), color-stop(35%, #4dc0a2), color-stop(35%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #4dc0a2 0%, #4dc0a2 35%, #ffffff 35%, #ffffff 100%);
  background: -o-linear-gradient(top, #4dc0a2 0%, #4dc0a2 35%, #ffffff 35%, #ffffff 100%);
  background: -ms-linear-gradient(top, #4dc0a2 0%, #4dc0a2 35%, #ffffff 35%, #ffffff 100%);
  background: linear-gradient(to bottom, #4dc0a2 0%, #4dc0a2 35%, #ffffff 35%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dc0a2', endColorstr='#ffffff', GradientType=0 );
}

#alerts {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  z-index: 999;
}

.header {
  padding: 20px 40px;

  .logo {
    max-width: 150px;
    max-height: 50px;
  }
}

.footer {
  padding: 20px;
}

.page-header {
  margin-top: 100px;
  border: 0;
}

.center-panel {
  .center-block {
    float: none;
  }
  .center-panel-size {
    width: 650px;
  }

  .input-spacing {
    margin-top: 15px;
  }

  .panel-footer {
    padding: 35px;
    background-color: white;
  }

  .panel-body {
    padding-bottom: 40px;
  }

  .title-wrapper {
    margin-bottom: 30px;
  }
}
