#shared-access-form {
  .table-scrollbar-wrapper {
    overflow: auto;
    max-height: 365px;
  }

  input.search-bar {
    width: 100%;
    margin-bottom: 8px;
  }
}

#shared-access-modal {
  .modal-header {
    margin-left: 0 !important;
  }

  // Height of Modal with 4 rows of users
  .modal-content {
    min-height: 554px;
  }

  #shared-access-modal-buttons {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
