@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";


html, body {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.app-background {
  background: #ffffff;
  background: -moz-linear-gradient(top, #4dc0a2 0%, #4dc0a2 350px, #ffffff 350px, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #4dc0a2), color-stop(350px, #4dc0a2), color-stop(350px, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #4dc0a2 0%, #4dc0a2 350px, #ffffff 350px, #ffffff 100%);
  background: -o-linear-gradient(top, #4dc0a2 0%, #4dc0a2 350px, #ffffff 350px, #ffffff 100%);
  background: -ms-linear-gradient(top, #4dc0a2 0%, #4dc0a2 350px, #ffffff 350px, #ffffff 100%);
  background: linear-gradient(to bottom, #4dc0a2 0%, #4dc0a2 350px, #ffffff 350px, #ffffff 100%);
}

#alerts {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  z-index: 999;
}

.header {
  padding: 20px 40px;
  margin-bottom: 160px;
  .logo {
    max-width: 150px;
    max-height: 50px;
  }
}

.footer {
  padding: 20px;
}

.center-panel {
  .center-block {
    float: none;
  }
  .center-panel-size {
    max-width: 900px
  }
  .center-panel-conent-size {
    max-width: 800px;
  }

  .input-spacing {
    margin-top: 15px;
  }

  .panel-footer {
    padding: 35px;
    background-color: white;
  }

  .panel-body {
    padding-bottom: 40px;
  }

  .title-wrapper {
    margin-bottom: 30px;
  }

  .join-form-wrapper {
    .center-block {
      max-width: 400px;
    }
    .join-form {
      width: 100%;
    }
    .btn {
      width: initial;
    }
  }

  .meeting-url-wrapper {
    .meeting-url {
      cursor: default;
    }
  }

  .loading-wrapper {
    text-align: center;
  }
}
