#shared-access-form {
  input.search-bar {
    width: 100%;
  }


  overflow: auto;
  max-height: 500px;

  th {
    position: sticky;
    top: 0;
    background: white;
  }
}

#shared-access-modal {
  .modal-header {
    margin-left: 0 !important;
  }
}
