@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";


html, body {
  width: 100%;
  height: 100%;
}

.app-background {
  background: linear-gradient(0, white 65%, #4DC0A2 35%);
}

#alerts {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  z-index: 999;
}

.header {
  padding: 20px 40px;

  .logo {
    max-width: 150px;
    max-height: 50px;
  }
}

.footer {
  padding: 20px;
}

.page-header {
  margin-top: 100px;
  border: 0;
}

.center-panel {
  .center-block {
    float: none;
  }
  .center-panel-size {
    width: 650px;
  }

  .input-spacing {
    margin-top: 15px;
  }

  .panel-footer {
    padding: 35px;
    background-color: white;
  }

  .panel-body {
    padding-bottom: 40px;
  }

  .title-wrapper {
    margin-bottom: 30px;
  }
}
