$secondary: #4B4B4B;

$border-radius-sm: 8px;
$border-radius: 8px;
$border-radius-lg: 10px;
$border-radius-pill: 8px;

$muted: #6c757d;
$black: #212529;

$header-height: 70px;
$background-sm-buffer-height: 90px;
$background-lg-buffer-height: 300px;
$footer-buffer-height: 35px;
$footer-height: 35px;

$table-hover-bg: whitesmoke;
