$secondary: #4B4B4B;

$border-radius-sm: 8px;
$border-radius: 8px;
$border-radius-lg: 10px;
$border-radius-pill: 8px;

$muted: #6c757d;
$black: #212529;

$header-height: 70px;
$footer-buffer-height: 35px;
$footer-height: 35px;

$table-hover-bg: #F8F8F8;

$admin-card-height: 550px;

$button-min-width: 120px;

$column-xs-width: 50px;
$column-sm-width: 100px;
$column-md-width: 150px;
$column-lg-width: 325px;

$input-max-width: 300px;
