<%= content_tag(:div, id: setting_id, class: "setting-view card") do %>
  <div class="card-body p-6">
    <div class="card-title text-primary">
      <h4><%= setting_title %></h4>
    </div>
    <hr>

    <%= render "shared/settings/#{setting_id}" %>
  </div>
<% end %>
