<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

  <% if cookies && cookies['cookie_consented'] != 'true' %>
    <div class="primary-lighten cookies-banner fixed-bottom text-center d-inline-block">
      <div class="cookies-banner-content py-3">
        <span class="cookies-warning-text pr-5">
          <%= t("cookies.cookie_info") %>
          <%= t("cookies.policy", privacy_link: privpolicy_url).html_safe if privpolicy_url.present? %>
        </span>
        <span class="cookies-warning-button d-inline-block">
          <button id="cookies-agree-button" class="btn customBtn primary-regular"><%= t("cookies.cookie_button") %></button>
        </span>
      </div>
    </div>
  <% end %>
