<div class="card">
  <div class="card-body p-1">
    <table class="table table-hover table-vcenter text-nowrap table-no-border">
      <tbody class="no-border-top">
        <td>
          <span class="stamp stamp-md bg-cyan">
            <% if room == current_user.main_room %>
              <i class="fas fa-home"></i>
            <% else %>
              <i class="fas fa-chalkboard-teacher"></i>
            <% end %>
          </span>
        </td>
        <td>
          <h4 class="m-0 force-text-normal"><%= room.name %></h4>
          <div class="small text-muted">
            <% if room.sessions > 0 %>
              <i>Last session on <%= recording_date(room.last_session) %></i>
            <% else %>
              <i>This room has no sessions, yet!</i>
            <% end %>
          </div>
        </td>
        <td class="text-right">
          <% if room != current_user.main_room %>
            <div class="item-action dropdown">
              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fas fa-ellipsis-v"></i></a>
              <div class="dropdown-menu dropdown-menu-right">
                <!--
                <%= link_to room, class: "dropdown-item" do %>
                  <i class="dropdown-icon fas fa-cog"></i> Room Settings
                <% end %>
                -->
                <%= button_to room, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" do %>
                  <i class="dropdown-icon far fa-trash-alt"></i> Delete
                <% end %>
              </div>
            </div>
          <% end %>
        </td>
      </tbody>
    </table>
  </div>
</div>
