<div class="container text-center pt-9">
    <h1 class="h2 mb-3 mb-5">Please start a meeting to stream it</h1>
      <a class="btn btn-primary mt-5" href="javascript:history.back()">
        <i class="fas fa-arrow-left mr-2"></i><%= t("go_back") %>
      </a>
</div>
