<div class="container text-center pt-9">
    <h1 class="h2 mb-3 mb-5">Please start a meeting to stream it</h1>
    <%= link_to home_page, class: "btn btn-primary mt-5" do %>
        <i class="fa fa-plus mr-2"></i>Create Meeting
    <% end %>
</div>
