env:
  RUBY_VERSION: 2.7.2


name: CD
on:
  release:

jobs:
  main:
    name: Build Docker Image
    runs-on: ubuntu-18.04
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        
      - name: Login to Github Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push release
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            greenlight:latest
            greenlight:v2
            greenlight:${GITHUB_REF}
          build-args: version_code=${GITHUB_REF##*/release-}
