<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= params[:controller].capitalize %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to('Home', root_path)  %>
      </li>
      <li>
        <%= link_to(module_name(params[:controller]), url_for(:controller => params[:controller]))  %>
      </li>
      <li class="active">
        <strong><%= params[:action].capitalize %></strong>
      </li>
    </ol>
  </div>
</div>
